<strong>Olá, {{ student_name }}</strong>
<p>Sua pergunta foi respondida.</p>
<p>
  <strong>Pergunta: </strong><br>
  <p>{{ question }}</p>
  <strong>Feita em: </strong> {{ created_at }} <br>

  <br />

  <strong>Resposta: </strong><br/>
  <p>{{ answer }}</p>
  <strong>Respondida em </strong> {{ answer_at }}
  <strong>por </strong> {{ replier_name }} <br/>
</p>
