<strong>Olá, {{ student_name }}</strong>
<p>Matrícula efetuada.</p>
<p>
  <strong>Plano: </strong> {{ plan_title }} <br>
  <strong>Data de inicio: </strong> {{ start_date }} <br/>
  <strong>Data do término: </strong> {{ end_date }} <br/>
  <strong>Valor total: </strong> {{ price }} <br/>
  <br>
  <small>
    Acesso ao aplicativo liberado, informe este código no app para validar seu acesso: <strong>{{ code }}</strong>
    {{!-- <br />
    ou clique neste link <a href="http://www.gympoint.com/connect/{{ code }}">http://www.gympoint.com/connect/{{ code }}</a> --}}
  </small>
</p>
